.InputGroup {
  position: relative;
  margin-bottom: 30px;
  width: 100%;
}

.Input {
  font-size: 16px;
  padding: 10px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
}

.Input:focus {
  outline: none;
}

.Label {
  color: #999;
  font-size: 18px;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 15px;
  transition: 0.2s ease all;
}

.Input:focus~label,
.Input:valid~label {
  top: -15px;
  font-size: 14px;
  color: #5264AE;
}

.InputBar {
  position: relative;
  display: block;
  width: 91%;
}

.InputBar:before,
.InputBar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
}

.InputBar:before {
  left: 55%;
}

.InputBar:after {
  right: 45%;
}

.Input:focus~.InputBar:before,
.Input:focus~.InputBar:after {
  width: 55%;
}