$font-noto:'Noto Sans',
sans-serif;
$font-open: 'Open Sans',
sans-serif;
$font-pt: 'PT Sans Narrow',
sans-serif;
$font-lucida:'LucidaSans-Italic';
$white:#ffffff;
$bg-logo:linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%),
#5b5b5b;
$yellow:#efc006;
$grey:#a9a9a7;
$bg-grey:#474747;
$yellow-hover:#ffda45;
$yellow-dark:#ec9e03;
$black:#000;