$white:#fff;
$black:#000;
$mwidth:960px;
$grey:#25282a;
$lgrey:#5c5c5c;
$red:#ea5a4b;
$lblack: #252525;
$dwhite: #adadad;
$font-b:'Bitter',
serif;
$font-r: 'Roboto Condensed',
sans-serif;
$font-h:'Helvetica Neue',
sans-serif;